body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(175deg, #1D1616, #727D73);
    font-family: sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 800px;
    min-height: 300px;
    background: linear-gradient(175deg, #C1C1C1, #585858);
    border-radius: 30px;
    padding: 20px;
}

main form{
    border: 2px solid #5553;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
}

input, button {
    border: none;
    background: none;
    outline: none;
    padding: 10px;
}

button {
    cursor: pointer;
}

#weatherResult {
    padding-top: 20px;
    text-align: center;
}

#weatherResult #city {
    font-weight: bold;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#temperature img {
    width: 150px;
    filter: drop-shadow(0 10px 50px #000);
}

#temperature figcaption {
    font-size: 3em;
}

#description {
    padding: 10px 0 30px;
}

ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

li {
    background: linear-gradient(175deg, #727D73, #D0DDD0);
    border: rgb(201, 201, 201) solid;
    border-radius: 25px;
    padding: 20px 10px;

    font-weight: bold;
    font-size: large;
}

li i {
    font-size: x-large;
    display: block!important;
    margin: 20px 0;
}

h1 {
    text-align: center;
    color: rgb(39, 39, 39);
    font-size: 2.3em;
}

p {
    text-align: center;
    color: #363636;
    font-size: 90%;
}

.hidden {
    display: none;
}